.c-link {
  color: $color-deep-cerulean;
}

.c-white {
  color: $color-white;
}

.c-geyser {
  color: $color-geyser;
}

.c-casper {
  color: $color-casper;
}

.c-limed-spruce {
  color: $color-limed-spruce;
}

.c-pale-sky {
  color: $color-pale-sky;
}

.c-default {
  color: $color-shuttle-gray;
}

.bg {

  &-white {
    background-color: $color-white;
  }
}
