/**
 * LAYOUT - DISPLAY
 *
 * - allowed displays:
 *   - none
 *   - block
 *   - inline-block
 *   - inline
 *   - flex
 *   - inline-flex
 *   - table
 *   - table-cell
 */

.d {

  &-none {
    display: none;
  }

  &-b {
    display: block;
  }

  &-ib {
    display: inline-block;
  }

  &-i {
    display: inline;
  }

  &-f {
    display: flex;
  }

  &-if {
    display: inline-flex;
  }

  &-t {
    display: table;
  }

  &-tc {
    display: table-cell;
  }
}

@include media(screen--md) {

  .md-d {

    &-none {
      display: none;
    }

    &-b {
      display: block;
    }

    &-ib {
      display: inline-block;
    }

    &-i {
      display: inline;
    }

    &-f {
      display: flex;
    }

    &-if {
      display: inline-flex;
    }

    &-t {
      display: table;
    }

    &-tc {
      display: table-cell;
    }
  }
}

@include media(screen--sm) {

  .sm-d {

    &-none {
      display: none;
    }

    &-b {
      display: block;
    }

    &-ib {
      display: inline-block;
    }

    &-i {
      display: inline;
    }

    &-f {
      display: flex;
    }

    &-if {
      display: inline-flex;
    }

    &-t {
      display: table;
    }

    &-tc {
      display: table-cell;
    }
  }
}

/**
 * FLEX ALIGN ITEMS
 * flex-start | flex-end | center | baseline | stretch
 */

.ai {

  &-fs {
    align-items: flex-start;
  }

  &-fe {
    align-items: flex-end;
  }

  &-c {
    align-items: center;
  }

  &-b {
    align-items: baseline;
  }

  &-s {
    align-items: stretch;
  }
}

/**
 * FLEX JUSTIFY CONTENT
 * flex-start | flex-end | center | space-between | space-around | space-evenly
 */

.jc {

  &-fs {
    justify-content: flex-start;
  }

  &-fe {
    justify-content: flex-end;
  }

  &-c {
    justify-content: center;
  }

  &-sb {
    justify-content: space-between;
  }

  &-sa {
    justify-content: space-around;
  }

  &-se {
    justify-content: space-evenly;
  }
}

/**
 * FLEX ALIGN CONTENT
 * flex-start | flex-end | center | space-between | space-around | stretch
 */

.ac {

  &-fs {
    align-content: flex-start;
  }

  &-fe {
    align-content: flex-end;
  }

  &-c {
    align-content: center;
  }

  &-sb {
    align-content: space-between;
  }

  &-sa {
    align-content: space-around;
  }

  &-s {
    align-content: stretch;
  }
}

/**
 * FLEX DIRECTION
 * column | row
 */

.fd {
  &-c {
    flex-direction: column;
  }

  &-r {
    flex-direction: row;
  }
}

@include media(screen--sm) {
  .sm-fd {
    &-c {
      flex-direction: column;
    }

    &-r {
      flex-direction: row;
    }
  }
}
